<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %>  <%= rating.user.username %> </li>
   <% end %>
</ul>

<% unless current_user.nil? %>
<%= link_to 'Create new rating', new_rating_path, class:"btn btn-success" %>
<% end %>