<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

    <tbody>
        <% breweries.each do |brewery| %>
            <tr>
                <td class="vert-align"><%= link_to brewery.name, brewery %></td>
                <td class="vert-align"><%= brewery.year %></td>
                <td class="vert-align"><%= link_to 'Edit', edit_brewery_path(brewery), class:"btn btn-primary" %></td>
                <td class="vert-align"><%= link_to 'delete', brewery, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></td>
            </tr>
        <% end %>
    </tbody>
</table>